body{
	background-color: black;
	font-family: "Montserrat","Avenir";
}
div{
	text-align: center;
}

.square{
	width:30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition:all 0.6s;
}

.container{
	margin:20px auto;
	max-width: 50%;
}
h1{
	color: white;
	text-align: center;
	background-color:rgb(70, 130, 180);
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}
#colorDisplay{
	font-size: 200%;
}
#message{
	display: inline-block;
	width: 20%;
}
#nav{
	background-color: white;
	color: black;
	height: 30px;
}
.selected{
	background: blue;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: rgb(70, 130, 180);
	letter-spacing: 1px;
	font-size: inherit;
	transition:all 0.03s;
	outline: none;
}
button:hover{
	color:white;
	background: rgb(70, 130, 180);
}

